@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
	--color-primary: #BF3335;
	--color-secondary: #FFE773;
	--color-black:: #090909;
	--color-red: oklch(63.7% 0.237 25.331);
	--color-gray500: #6B7280;
	--color-white: #FFFAFA;
}
